#movielist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#card {
  background-color: rgb(24, 23, 23);
  width: 15rem;
  border-radius: 1rem;
  margin: 1.5rem;
  padding: 1rem;
  text-align: center;
  color: azure;
}

#card:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px 5px;
}

#movierating {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#trailer {
  display: flex;
}

#trailerimg {
  width: 400px;
  height: 406px;
  object-fit: contain;
}

#sginlog {
  display: flex;
  justify-content: center;
}

#login {
  border: 1px solid black;
  padding: 5px;
}